<h1>Preguntas</h1>

<div>
<%= 
  link_to_if(@current_user.nil?, "Hacer pregunta", new_user_session_path, class: "btn btn-primary btn-lg pull-right") do
    link_to("Hacer pregunta", new_question_path, class: "btn btn-primary btn-lg pull-right")
  end
%>
</div>

<div class="clearfix"></div>

<div class="table-responsive">
  <table class="table">
    <% @questions.each do |question| %>
      <tr>
        <td colspan="1">
          <p class="text-center"><%= question.votes.count %></p>
          <p class="text-center">Votos</p>
        </td>
        <td colspan="1">
          <p class="text-center"><%= question.answers.count %></p>
          <p class="text-center">Respuestas</p>
        </td>
        <td colspan="10">
          <p><%= link_to question.name, question_path(question) %></p>
          <p>por: <%= question.user.email %> <%= question.created_at %></p>
        </td>
      </tr>  
    <% end %>
  </table>
</div>
