<div>
  <h2>Votos</h2>
  <p>2</p>
</div>

<div>
  <h1><%= @question.name %></h1>
  <p><%= @question.description.html_safe %></p>
</div>

<div>
  <div>
    <h2>Comentarios:</h2>
    <% @question.comments.each do |comment| %>
      <div>
        <header><%= comment.user.username %></header>
        <p><%= comment.content %></p>
      </div>
    <% end %>
  </div>

  <div>
    <% if @comment_q && @comment_q.errors.any? %>
      <ul>
        <% @comment_q.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    
    <% if user_signed_in? %>
      <%= form_for [@question, Comment.new] do |comment_field| %>
        <div>
          <%= comment_field.text_area :content, placeholder: "Comentario" %>
        </div>
        <div>
          <%= comment_field.submit "Comentar" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <div>
    <h2>Repuestas:</h2>
    <% @question.answers.each do |answer| %>
      <div>
        <header><%= answer.user.username %></header>
        <p><%= answer.content %></p>
      </div>
    <% end %>
  </div>

  <div>
    <% if @answer && @answer.errors.any? %>
      <ul>
        <% @answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    
    <% if user_signed_in? %>
      <%= form_for [@question, Answer.new] do |answer_field| %>
        <div>
          <%= answer_field.text_area :content, placeholder: "Respuesta" %>
        </div>
        <div>
          <%= answer_field.submit "Responder" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

