<div>
  <% if user_signed_in? %>
    <% if @question.voted_by? current_user %>
        <%= link_to question_vote_path(@question), method: :delete do %>
          <p><%= @question.votes.count %></p>
        <% end %>
    <% else %>
        <%= link_to question_votes_path(@question), method: :post do %>
          <p><%= @question.votes.count %></p>
        <% end %>
    <% end %>
  <% else %>
    <p><%= @question.votes.count %></p>
  <% end %>
</div>

<div>
  <h1><%= @question.name %></h1>
  <p><%= @question.description.html_safe %></p>
</div>

<div>
  <div>
    <h2>Comentarios:</h2>
    <% @question.comments.each do |comment| %>
      <div>
        <header><%= comment.user.username %></header>
        <p><%= comment.content.html_safe %></p>
      </div>
    <% end %>
  </div>

  <div>
    <% if @comment && @comment.errors.any? %>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    
    <% if user_signed_in? %>
      <%= form_for [@question, @question.comments.build] do |comment_field| %>
        <div>
          <%= comment_field.text_area :content, placeholder: "Comentario" %>
        </div>
        <div>
          <%= comment_field.submit "Comentar" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <div>
    <h2>Repuestas:</h2>
    <% @question.answers.each do |answer| %>
      <div>
        <div>
          <% if user_signed_in? %>
            <% if answer.voted_by? current_user %>
                <%= link_to answer_vote_path(answer), method: :delete do %>
                  <p><%= answer.votes.count %></p>
                <% end %>
            <% else %>
                <%= link_to answer_votes_path(answer), method: :post do %>
                  <p><%= answer.votes.count %></p>
                <% end %>
            <% end %>
          <% else %>
            <p><%= answer.votes.count %></p>
          <% end %>
        </div>
        <header><%= answer.user.username %></header>
        <p><%= answer.content.html_safe %></p>
      </div>
      <div>
        <% answer.comments.each do |comment| %>
          <p><%= comment.content.html_safe %></p>
        <% end %>
      </div>
      <div>
        <% if  user_signed_in? %>
          <%= form_for [answer, answer.comments.build] do |comment_field| %>
            <div>
              <%= comment_field.text_area :content, placeholder: "Respuesta" %>
            </div>
            <div>
              <%= comment_field.submit "Comentar" %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div>
    <% if @answer && @answer.errors.any? %>
      <ul>
        <% @answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    
    <% if user_signed_in? %>
      <%= form_for [@question, Answer.new] do |answer_field| %>
        <div>
          <%= answer_field.text_area :content, placeholder: "Respuesta" %>
        </div>
        <div>
          <%= answer_field.submit "Responder" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

