<div class="row">
  <h1><%= @question.name %></h1>
  <div class="col-sm-1">
    <% if user_signed_in? %>
      <% if @question.voted_by? current_user %>
          <%= link_to question_vote_path(@question), method: :delete do %>
            <div class="vote-down">
              <span class="glyphicon glyphicon-chevron-down"></span>
              <%= @question.votes.count %>
            </div> 
          <% end %>
      <% else %>
          <%= link_to question_votes_path(@question), method: :post do %>
            <div class="vote-up">
              <span class="glyphicon glyphicon-chevron-up"></span>
              <%= @question.votes.count %>
            </div>
          <% end %>
      <% end %>
    <% else %>
      <p><%= @question.votes.count %></p>
    <% end %>
  </div>

  <div class="col-sm-11">
    <p><%= @question.description.html_safe %></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-11 col-sm-offset-1">
    <% @question.comments.each do |comment| %>
      <div>
        <p><span class="username"><%= comment.user.username %></span> <%= comment.content.html_safe %></p>
      </div>
    <% end %>
  </div>

  <div class="col-sm-11 col-sm-offset-1">
    <% if @comment && @comment.errors.any? %>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    
    <% if user_signed_in? %>
      <%= form_for [@question, @question.comments.build] do |comment_field| %>
        <div class="form-group">
          <%= comment_field.text_area :content, class: "form-control", placeholder: "Comentario" %>
        </div>
        <div>
          <%= comment_field.submit "Comentar", class: "btn btn-primary pull-right" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <div>
    <h2><%= @question.answers.count %> repuestas:</h2>
    <% @question.answers.each do |answer| %>
      <div class="row">
        <div class="col-sm-1">
          <% if user_signed_in? %>
            <% if answer.voted_by? current_user %>
                <%= link_to answer_vote_path(answer), method: :delete do %>
                  <div class="vote-down">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                    <%= answer.votes.count %>
                  </div>
                <% end %>
            <% else %>
                <%= link_to answer_votes_path(answer), method: :post do %>
                  <div class="vote-up">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                    <%= answer.votes.count %>
                  </div>
                <% end %>
            <% end %>
          <% else %>
            <p><%= answer.votes.count %></p>
          <% end %>
        </div>

        <div class="col-sm-11">
          <header><span class="username"><%= answer.user.username %></span></header>
          <p><%= answer.content.html_safe %></p>
        </div>

        <div class="col-sm-11 col-sm-offset-1">
          <% answer.comments.each do |comment| %>
            <p><span class="username"><%= comment.user.username %></span> <%= comment.content.html_safe %></p>
          <% end %>
        </div>

        <div class="col-sm-11 col-sm-offset-1">
          <% if user_signed_in? %>
            <%= form_for [answer, answer.comments.build] do |comment_field| %>
              <div clss="form-group">
                <%= comment_field.text_area :content, class: "form-control", placeholder: "Respuesta" %>
              </div>
              <div>
                <%= comment_field.submit "Comentar", class: "btn btn-primary pull-right" %>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>

  <div class="col-sm-9">
    <% if @answer && @answer.errors.any? %>
      <ul>
        <% @answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    
    <% if user_signed_in? %>
      <h2>Tu respuesta</h2>
      <%= form_for @question.answers.new do |answer_field| %>
        <%= answer_field.hidden_field :question_id, :value => @question.id %>
        <div class="form-group">
          <%= answer_field.text_area :content, class: "form-control", rows: "10", placeholder: "Respuesta" %>
        </div>
        <div>
          <%= answer_field.submit "Responder", class: "btn btn-primary pull-right" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

